{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}

<h1 class="mb-4">Список новостей</h1>

{% if news_list %}

    {% for news in news_list %}

        <div class="card mb-3 {% if news.date == today %}today-news{% endif %}">

            <div class="card-body">

                <h3>

                    <a href="{% url 'news_detail' news.id %}">
                        {{ news.title }}
                    </a>

                </h3>

                <p>{{ news.summary }}</p>

                <small class="text-muted">
                    {{ news.date }}
                </small>

            </div>

        </div>

    {% endfor %}

{% else %}

    <div class="alert alert-info">
        Новостей пока нет.
    </div>

{% endif %}

{% endblock %}