{% extends 'base.html' %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block content %}

<section class="form-panel">
    <h1>{{ page_title }}</h1>

    <form method="post" class="stacked-form">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="actions">
            <button type="submit" class="btn">
                {{ button_text }}
            </button>

            {% if news %}
                <a href="{% url 'news_detail' news.id %}"
                   class="btn secondary">
                    Отмена
                </a>
            {% else %}
                <a href="{% url 'home' %}"
                   class="btn secondary">
                    Отмена
                </a>
            {% endif %}
        </div>
    </form>
</section>

{% endblock %}
