{% extends 'base.html' %}

{% block title %}
Удалить аккаунт
{% endblock %}

{% block content %}

<section class="form-panel">
    <h1>Удалить аккаунт?</h1>
    <p>
        Аккаунт {{ user.username }} и все его новости будут удалены.
    </p>

    <form method="post" class="actions">
        {% csrf_token %}

        <button type="submit" class="btn danger">
            Удалить аккаунт
        </button>

        <a href="{% url 'profile' %}"
           class="btn secondary">
            Отмена
        </a>
    </form>
</section>

{% endblock %}
